In [1]:
# Dependencies
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Session
from sqlalchemy import Index
from sqlalchemy import MetaData
from sqlalchemy import Table
import csv
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, inspect
from sqlalchemy import func

In [2]:
clean_measurement = "withoutid_clean_measurement_df.csv"
clean_measurement_df = pd.read_csv(clean_measurement )
clean_measurement_df.head()

       date  prcp  tobs
0  1/1/2010  0.08    65
1  1/2/2010  0.00    63
2  1/3/2010  0.00    74
3  1/4/2010  0.00    76
4  1/7/2010  0.06    70

In [3]:
clean_station = "withoutid_clean_station_df.csv"
clean_station_df = pd.read_csv(clean_station)

clean_station_df.head()

                             station_name  latitude  longitude  elevation
0                    WAIKIKI 717.2, HI US   21.2716  -157.8168        3.0
1                    KANEOHE 838.1, HI US   21.4234  -157.8015       14.6
2  KUALOA RANCH HEADQUARTERS 886.9, HI US   21.5213  -157.8374        7.0
3                       PEARL CITY, HI US   21.3934  -157.9751       11.9
4              UPPER WAHIAWA 874.3, HI US   21.4992  -158.0111      306.6

In [4]:
clean_station_df.dtypes

station_name     object
latitude        float64
longitude       float64
elevation       float64
dtype: object

In [18]:
Base = declarative_base()
class Measurement(Base):
    __tablename__ = 'measurement_table'
    __table_args__ = {'sqlite_autoincrement': True}
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True, nullable=False)
    station = Column(String)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)


engine = create_engine("sqlite:///hawaii_3.db")
Base.metadata.create_all(engine)

#Create the session
session = Session(bind=engine)

In [20]:
Base = declarative_base()
class Station(Base):
    __tablename__ = 'station_table'
    __table_args__ = {'sqlite_autoincrement': True}

    id = Column(Integer, primary_key=True, nullable=False)
    station = Column(String(225))
    station_name= Column(String(225)) 
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(String(225))


engine = create_engine("sqlite:///hawaii_3.db")
Base.metadata.create_all(engine)

#Create the session
session = Session(bind=engine)

In [23]:
for i, row in clean_station_df.iterrows():
    record = Station(**{
         'station_name': row.station_name,
         'latitude': row.latitude,
         'longitude' : row.longitude,
         'elevation': row.elevation,
})
    print (row.station_name)
    session.add(record)
session.commit()

WAIKIKI 717.2, HI US
KANEOHE 838.1, HI US
KUALOA RANCH HEADQUARTERS 886.9, HI US
PEARL CITY, HI US
UPPER WAHIAWA 874.3, HI US
WAIMANALO EXPERIMENTAL FARM, HI US
WAIHEE 837.5, HI US
HONOLULU OBSERVATORY 702.2, HI US
MANOA LYON ARBO 785.2, HI US

In [24]:
row

station_name    MANOA LYON ARBO 785.2, HI US
latitude                             21.3331
longitude                           -157.803
elevation                              152.4
Name: 8, dtype: object

In [25]:
Base = declarative_base()

In [26]:
engine = create_engine("sqlite:///hawaii_3.db")
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement_table', 'station_table']

In [27]:
Measurement=Base.classes.measurement_table
Measurement

sqlalchemy.ext.automap.measurement_table

In [28]:

Station=Base.classes.station_table
Station

sqlalchemy.ext.automap.station_table

In [29]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement_table', 'sqlite_sequence', 'station_table']

In [30]:
columns = inspector.get_columns('station_table')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station VARCHAR(225)
station_name VARCHAR(225)
latitude FLOAT
longitude FLOAT
elevation FLOAT
location VARCHAR(225)

In [31]:
from sqlalchemy import inspect

mapper = inspect(Measurement)
print(mapper)

mapped class measurement_table->measurement_table

In [32]:
Session = sessionmaker(bind=engine)
# Session is a class
session = Session()
# now session is a instance of the class Session

In [33]:
engine.execute('SELECT * FROM station_table LIMIT 5').fetchall()

[(1, None, 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0, None),
 (2, None, 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6, None),
 (3, None, 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0, None),
 (4, None, 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9, None),
 (5, None, 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6, None)]

In [36]:
engine.execute('SELECT * FROM measurement_table LIMIT 5').fetchall()

[]